
@{
    ViewBag.Title = "Contact";
}

    <link rel="stylesheet" type="text/css" href="~/Content/contact.css">

    <section>
        <form method="post" action="#" class="contact-form">
            <div class="myrow">
                <div class="name">
                    Name
                </div>
                <div>
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>

            <div class="myrow">
                <div class="name">
                    Email
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>

            <div class="myrow">
                <div class="name">
                    Drop us a line
                </div>
                <div>
                    <textarea name="message" placeholder="Your message"></textarea>
                </div>
            </div>

            <div class="myrow">
                <div class="name">
                    
                </div>
                <div class="submin">
                    <input type="submit" value="Send it!">
                </div>
            </div>
        </form>
    </section>

