@{
    ViewBag.Title = "Home Page";
}

    <link rel="stylesheet" type="text/css" href="~/Content/sheet.css">

    <header>
        <div class="head">
            <h1>men Best Friend </h1>
        </div>
    </header>


    <section class="first-section">

        <div class="second">
            <img src="~/Images/our images/dog-6.jpg" alt="Dog" class="dog" />
            <img src="~/Images/our images/dog-4.jpg" alt="Dog" class="dog" />
        </div>

        <div class="main">
            <h2>Our Dogs</h2>
            <p class="about">
                our dogs is the best with full security from any sicks and we have dogs in any age .<br />
                It is estimated that three-quarters of the world's dog population lives in the developing world as feral,
                village, or community dogs, with pet dogs uncommon.The most widespread form of interspecies bonding occurs between humans and dogs"
                and the keeping of dogs as companions, particularly by elites, has a long history[144] (see the Bonn–Oberkassel dog).
                Pet-dog populations grew significantly after World War II as suburbanization increased.[144] In the 1950s and 1960s
                dogs were kept outside more often than they tend to be today[145] (the expression "in the doghouse" - recorded since 1932[146] - to describe exclusion from the group implies distance between the doghouse and the home) and were still primarily functional, acting as a guard, children's playmate, or walking companion. From the 1980s there have been changes in the role of the pet dog, such as the increased role of dogs in the emotional support of their human guardians.[147] People and their dogs have become increasingly integrated and implicated in each other's lives,[148] to the point where pet dogs actively shape the way a family and home are experienced.[149]

                There have been two major trends occurring within the second half of the 20th century in the changing status of pet dogs. The first has been the "commodification" of the dog, shaping it to conform to human expectations of personality and behaviour.[149] The second has been the broadening of the concept of the family and the home to include dogs-as-dogs within everyday routines and practices.[149]

                A vast range of commodity forms aim to transform a pet dog into an ideal companion.[150] The list of goods, services and places available is enormous: from dog perfumes, couture, furniture and housing, to dog groomers, therapists, trainers and caretakers, dog cafes, spas, parks and beaches, and dog hotels, airlines and cemeteries.[150] While dog training as an organized activity has operated since the 18th century, in the last decades of the 20th century it became a high-profile issue as many normal dog behaviors such as barking, jumping up, digging, rolling in dung, fighting, and urine marking (which dogs do to establish territory through scent), became increasingly incompatible with the new role of a pet dog.[151] Dog training books, classes and television programs proliferated as the process of commodifying the pet dog continued
            </p>
        </div>
        

    </section>
